# Build outputs
dist/
dist-ssr/
*.local

# Dependencies
node_modules/

# IDE & Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables (Sangat penting untuk keamanan)
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# OS Metadata
.DS_Store
Thumbs.db